{% load static %} {% load crispy_forms_tags %}

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>InHive - Register</title>
    <!-- Add your stylesheets, scripts, and other meta tags here -->
    <link rel="stylesheet" href="{%static 'accounts/styles/register.css' %}" />
    <link rel="stylesheet" href="{%static 'accounts/styles/home.css' %}" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />

    <link
      href="https://fonts.googleapis.com/css2?family=Sora:wght@100..800&display=swap"
      rel="stylesheet"
    />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Material+Symbols+Rounded:opsz,wght,FILL,GRAD@48,400,0,0"
    />
    <script
      type="module"
      src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.esm.js"
    ></script>
    <script
      nomodule
      src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.js"
    ></script>
  </head>
  <body>
    <header class="nav">
      <!-- Navigation bar, logo, and other header elements go here -->
      <nav style="color: black" class="navbar">
        <div class="containers">
          <div class="navbar-header">
            <button class="navbar-toggler" data-toggle="open-navbar1">
              <span></span>
              <span></span>
              <span></span>
              <span></span>
            </button>
            <a class="color" href="#">
              <h1>INHIVE</h1>
            </a>
          </div>

          <div class="navbar-menu" id="open-navbar1">
            <ul class="navbar-nav">
              <li class="active"><a class="color" href="#">Home</a></li>

              <li><a class="color" href="#">Contact</a></li>
              <li>
                <a class="color" href="{% url 'login' %}" class="navbtn"
                  >Sign in</a
                >
              </li>
            </ul>
          </div>
        </div>
      </nav>
    </header>

    <div class="form">
      <div class="tab-group">
        <div style="border-radius: 15px !important; margin-right: 8x">
          <h1>Sign Up</h1>
        </div>
      </div>
      <div id="signup">
        <h2>Welcome To INHIVE!</h2>
        <form action="" method="post">
          {% csrf_token %}
          <!-- {{ form|crispy }} -->
          {% for field in form %}
          <div class="form-group">
            {{ field.label_tag }} {{ field }}
            <!-- Do not render error messages
            initially -->
          </div>
          {% endfor %}
          <div class="top-row"></div>
          <button
            type="submit"
            style="margin-top: 0.5rem"
            class="button button-block"
          >
            Sign Up
          </button>
        </form>
        <p class="align log">
          Have an account? <span><a href="{% url 'login' %}">Log In</a></span>
        </p>
      </div>
    </div>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script>
      {% if form.errors %}
           // Iterate over each field's errors and display them as alerts
           {% for field, errors in form.errors.items %}
               {% for error in errors %}
                   alert("{{ error }}");
               {% endfor %}
           {% endfor %}
       {% endif %}
    </script>
  </body>
</html>
