{% load static %} {% load crispy_forms_tags %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>INHIVE - Dashboard</title>
    <link rel="stylesheet" href="{% static '/accounts/styles/dash.css' %}" />

    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css"
    />
  </head>
  <body>
    <div class="container">
      <nav class="nav">
        <ul>
          <li class="padding">
            <a href="#" class="logo">
              <img src="{{ user.userprofile.profile_picture.url }}" alt="" />
              <h2 class="nav-item">DashBoard</h2>
            </a>
          </li>
          <li>
            <a href="{% url 'home' %}">
              <i class="fas fa-home"></i>
              <span class="nav-item">Home</span>
            </a>
          </li>
          <li>
            <a href="{% url 'profile' %}">
              <i class="fas fa-user"></i>
              <span class="nav-item">Profile</span>
            </a>
          </li>
          <li>
            <a href="{% url 'hive_list' %}">
              <i class="fas fa-square"></i>
              <span class="nav-item">Hives</span>
            </a>
          </li>
          <li>
            <a href="">
              <i class="fas fa-chart-bar"></i>
              <span class="nav-item">Analytics</span>
            </a>
          </li>
          <li>
            <a href="{% url 'task_list' %}">
              <i class="fas fa-tasks"></i>
              <span class="nav-item">Tasks</span>
            </a>
          </li>
          <li>
            <a href="">
              <i class="fas fa-cog"></i>
              <span class="nav-item">Settings</span>
            </a>
          </li>
          <li>
            <a href="">
              <i class="fas fa-question-circle"></i>
              <span class="nav-item">Help</span>
            </a>
          </li>
          <li>
            <a href="{% url 'logout' %}" class="logout">
              <i class="fas fa-sign-out-alt"></i>
              <span class="nav-item">Log out</span>
            </a>
          </li>
        </ul>
      </nav>

      <section class="main">
        <div class="main-top margin">
          <h1 style="text-transform: capitalize">Welcome {{ user }}</h1>
          <i class="fas fa-user-cog"></i>
        </div>

        <!-- me editting -->
        <div class="tab">
          <div class="tab-item">
            <button id="create_hive" class="hive_btn">
              <i class="fas fa-square"></i>
              <span>Create Hive</span>
            </button>
            <!-- <button class="hive_btn">
              <i class="fas fa-square"></i>
              <span>Hive Details</span>
            </button> -->
            <!-- <button id="hivlist" class="hive_btn">
              <i class="fas fa-square"></i>
              <span>Hive List</span>
            </button> -->
            <button id="create_task" class="hive_btn">
              <i class="fas fa-square"></i>
              <span>Create Task</span>
            </button>
            <!-- <button class="hive_btn">
              <i class="fas fa-square"></i>
              <span>Task List</span>
            </button> -->

            <!-- <button class="hive_btn">
              <i class="fas fa-square"></i>
              <span></span>
            </button> -->
          </div>
        </div>

        <!--  -->

        <div class="main-skills overlay">
          <div id="hiveCreation" class="card popup">
            <!-- <i class="fas fa-laptop-code"></i> -->
            <h3 class="align">New Hive</h3>
            <form class="forms" action="{% url 'create_hive' %}" method="post">
              {% csrf_token %} {{ hive_form }}

              <button type="submit">Create Hive</button>
            </form>
          </div>
          <div id="hivelist" class="card popup">
            <!-- <i class="fab fa-wordpress"></i> -->
            <h3 class="align">Hive List</h3>
            <ul class="hive_ul">
              <li>
                <span>Danny Hive - description</span>
              </li>
              <li>
                <span>Danny Hive - description</span>
              </li>
              <li>
                <span>Danny Hive - description</span>
              </li>
            </ul>
            <!-- <button>Get Started</button> -->
          </div>

          <div id="taskCreation" class="card popup">
            <h3 class="align">New Task</h3>
            <form class="forms" action="{% url 'create_task'  %}" method="post">
              {% csrf_token %} {{ task_form }}

              <button type="submit">Create Task</button>
            </form>
          </div>
        </div>

        <section class="main-course">
          <h1>The INHiVE</h1>
          <div class="course-box">
            <ul>
              <li class="active">In progress</li>
              <li>Completed</li>
              <li>finished</li>
            </ul>
            <div class="grid-3-cols"></div>
            <div class="course">
              {% for hive in hives %}
              <div class="box">
                <h4>{{ hive.title }}</h4>
                <h3 style="width: 90%">{{ hive.description }}</h3>
                <p>Start Date : {{hive.StartDate}}</p>
                <p>End Date : {{hive.EndDate}}</p>
                <button>
                  <a href="{% url 'hive_detail' hive.id %}">Check Hive</a>
                </button>
              </div>
              {% endfor %} {% for task in tasks %}
              <div class="box">
                <h4>{{ task.title }}</h4>
                <h3 style="width: 90%">{{ task.description }}</h3>
                <p>Start Date : {{task.StartDate}}</p>
                <p>End Date : {{task.EndDate}}</p>
                <button>
                  <a href="{% url 'task_detail' task.id %}">Check Task</a>
                </button>
              </div>
              {% endfor %} {% for membership in memberships %}
              <div class="box">
                <h4>{{ task. }}</h4>
                <h3 style="width: 90%">
                  Username {{ membership.user.username }}
                </h3>
                <p>Role : {{ membership.role}}</p>
                <p>Title of Hive : {{ membership.hive }}</p>
                <button>
                  <a href="">Check memberships</a>
                </button>
              </div>
              {% endfor %}
            </div>
          </div>
        </section>
      </section>
    </div>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
    <script src="{% static '/accounts/js/script.js' %}"></script>
  </body>
</html>
