{% extends 'hive_manager/base.html' %}

{% block title %}Hive Detail{% endblock %}

{% block content %}
    <h1>Hive Detail: {{ object.title}}</h1>
    <h2>User: {{ object.HiveOwner }}</h2>
    <h2>Description: {{ object.description }}</h2>
    <h2>Intended Users: {{object.intendedUsers}}</h2>
    <h2>Start-Date: {{object.StartDate }}</h2>
    <h2>Deadline: {{object.EndDate }}</h2>
    <h2>Status: {{object.status }}</h2>
    <ul>
        {% for membership in memberships %}
            <li>{{ object.HiveOwner }} - {{ membership.role }}</li>
        {% endfor %}
    </ul>

{% endblock content %}
