{% extends 'hive_manager/base.html' %}

{% block title %}Hive Detail{% endblock %}

{% block content %}
    <h1>Hive Detail: {{ hive.title}}</h1>
    <h2>User: {{ hive.HiveOwner }}</h2>
    <h2>Description: {{ hive.description }}</h2>
    <h2>Intended Users: {{hive.intendedUsers}}</h2>
    <h2>Start-Date: {{hive.StartDate }}</h2>
    <h2>Deadline: {{hive.EndDate }}</h2>
    <h2>Status: {{hive.status }}</h2>
    <ul>
        {% for membership in memberships %}
            <li>{{ hive.HiveOwner }} - {{ membership.role }}</li>
        {% endfor %}
    </ul>

{% endblock content %}
