{% extends 'hive_manager/base.html' %}

{% block title %}Task Detail{% endblock %}

{% block content %}
    <h1>Task Detail: {{ object.title}}</h1>
    <h2>Taskee: {{ object.assignedTo }}</h2>
    <h2>Description: {{ object.description }}</h2>
    <h2>Start-Date: {{object.StartDate }}</h2>
    <h2>Deadline: {{object.EndDate }}</h2>


    {% comment %} <h2>Status: {{hive.status }}</h2> {% endcomment %}
    {% comment %} <ul>
        {% for membership in memberships %}
            <li>{{ hive.HiveOwner }} - {{ membership.role }}</li>
        {% endfor %}
    </ul> {% endcomment %}

{% endblock content %}
