{% extends "hive_manager/base.html" %}
{% load crispy_forms_tags %}
{% block content %}
    <div class="content-section">
        <form method="POST">
            {% csrf_token %}
            <fieldset class="form-group">
                <legend class="border-bottom mb-4">UPDATE HIVE</legend>
                {{ form|crispy }}
            </fieldset>
            <div class="form-group">
                <button class="btn btn-outline-info" type="submit">Update</button>
            </div>
        </form>
    </div>
{% endblock content %}



{% comment %} <!-- update_hive.html -->

{% extends 'hive_manager/base.html' %}

{% block title %}Update Hive{% endblock title%}

{% block content %}
    <h1>Update Hive</h1>
    <form method="post">
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit">Update</button>
    </form>
{% endblock content %} {% endcomment %}
